USE [master]
GO
/****** Object:  Database [UniversityDB]    Script Date: 10/18/2017 5:09:26 PM ******/
CREATE DATABASE [UniversityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\UniversityDB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UniversityDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\UniversityDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityDB]
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 10/18/2017 5:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COURSE](
	[COURSE_CODE] [varchar](10) NOT NULL,
	[NAME] [varchar](50) NULL,
	[CREDIT] [numeric](18, 2) NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[DEPT_CODE] [varchar](10) NULL,
	[SEM_NO] [varchar](10) NULL,
	[FACULTY] [varchar](50) NULL,
 CONSTRAINT [COURSE_PK] PRIMARY KEY CLUSTERED 
(
	[COURSE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 10/18/2017 5:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPT_CODE] [varchar](10) NOT NULL,
	[DEPT_NAME] [varchar](50) NULL,
 CONSTRAINT [DEPT_PK] PRIMARY KEY CLUSTERED 
(
	[DEPT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DESIGNATION]    Script Date: 10/18/2017 5:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DESIGNATION](
	[DESIGNATION_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [DESIGNATION_PK] PRIMARY KEY CLUSTERED 
(
	[DESIGNATION_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ENDROLLMENT]    Script Date: 10/18/2017 5:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENDROLLMENT](
	[REG_NO] [varchar](20) NOT NULL,
	[COURSE_CODE] [varchar](10) NOT NULL,
	[GRADE] [varchar](5) NULL,
 CONSTRAINT [ENDROLLMENT_PK] PRIMARY KEY CLUSTERED 
(
	[REG_NO] ASC,
	[COURSE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GRADE]    Script Date: 10/18/2017 5:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GRADE](
	[GRADE_NAME] [varchar](5) NOT NULL,
 CONSTRAINT [PK_GRADE] PRIMARY KEY CLUSTERED 
(
	[GRADE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROOM]    Script Date: 10/18/2017 5:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM](
	[ROOM_NO] [int] NOT NULL,
 CONSTRAINT [ROOM_PK] PRIMARY KEY CLUSTERED 
(
	[ROOM_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROOM_SCHEDULE]    Script Date: 10/18/2017 5:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROOM_SCHEDULE](
	[COURSE_CODE] [varchar](10) NULL,
	[ROOM_NO] [int] NULL,
	[DAY] [varchar](15) NULL,
	[FROM_TIME] [time](7) NULL,
	[TO_TIME] [time](7) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SEMESTER]    Script Date: 10/18/2017 5:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEMESTER](
	[SEM_NO] [varchar](5) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 10/18/2017 5:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STUDENT](
	[REG_NO] [varchar](20) NOT NULL,
	[NAME] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[CONTACT_NO] [varchar](15) NULL,
	[REG_DATE] [date] NULL,
	[ADDRESS] [varchar](100) NULL,
	[DEPT_CODE] [varchar](10) NULL,
 CONSTRAINT [STUDENT_PK] PRIMARY KEY CLUSTERED 
(
	[REG_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEACHER]    Script Date: 10/18/2017 5:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEACHER](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[ADDRESS] [varchar](100) NULL,
	[CONTACT_NO] [varchar](15) NULL,
	[DESIGNATION_NAME] [varchar](50) NULL,
	[DEPT_CODE] [varchar](10) NULL,
	[CREDIT_TAKEN] [numeric](18, 2) NULL,
	[CREDIT_REMAINING] [numeric](18, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WEEKDAY]    Script Date: 10/18/2017 5:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEEKDAY](
	[DAY] [varchar](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DEPARTMENT] ([DEPT_CODE], [DEPT_NAME]) VALUES (N'B.Pharm', N'Bachelor of Pharmacy')
INSERT [dbo].[DEPARTMENT] ([DEPT_CODE], [DEPT_NAME]) VALUES (N'BBA', N'Bachelor of Business Administration')
INSERT [dbo].[DEPARTMENT] ([DEPT_CODE], [DEPT_NAME]) VALUES (N'CE', N'Civil Engineering')
INSERT [dbo].[DESIGNATION] ([DESIGNATION_NAME]) VALUES (N'Assistant Professor')
INSERT [dbo].[DESIGNATION] ([DESIGNATION_NAME]) VALUES (N'Assosiate Professor')
INSERT [dbo].[DESIGNATION] ([DESIGNATION_NAME]) VALUES (N'Chairperson')
INSERT [dbo].[GRADE] ([GRADE_NAME]) VALUES (N'A')
INSERT [dbo].[GRADE] ([GRADE_NAME]) VALUES (N'A+')
INSERT [dbo].[GRADE] ([GRADE_NAME]) VALUES (N'A-')
INSERT [dbo].[ROOM] ([ROOM_NO]) VALUES (101)
INSERT [dbo].[ROOM] ([ROOM_NO]) VALUES (102)
INSERT [dbo].[ROOM] ([ROOM_NO]) VALUES (103)
INSERT [dbo].[SEMESTER] ([SEM_NO]) VALUES (N'1st')
INSERT [dbo].[SEMESTER] ([SEM_NO]) VALUES (N'2nd')
INSERT [dbo].[SEMESTER] ([SEM_NO]) VALUES (N'3rd')
INSERT [dbo].[WEEKDAY] ([DAY]) VALUES (N'Saturday')
INSERT [dbo].[WEEKDAY] ([DAY]) VALUES (N'Sunday')
INSERT [dbo].[WEEKDAY] ([DAY]) VALUES (N'Monday')
USE [master]
GO
