
@{
    ViewBag.Title = "Index";
}

<section class="gallery-one overlayer default-overlay parallax" data-bg-image="images/bg/bg1.jpg">
    <div class="container pbn">
        <div class="section-title">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h6>WE CARE ABOUT PATIENT</h6>
                    <h2 class="text-white">OUR OUTSTANDING<span> SERVICES</span></h2>
                    <p class="text-white">Sed malesuada nunc sit amet quam hendrerit, mollis vulputate risus tristique. Quisque dapibus eros et dolor accumsan, sit amet interdum tortor imperdiet.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div width="200px;">

    &nbsp
</div>

<!-- Section: Our Departments -->
<section class="our-department">
    <div class="container ptn">
        <div class="section-title">
            <div class="row">
                <div class="col-md-4">
                    <h6>Latest work</h6>
                    <h2>Our <span> Departments</span></h2>
                </div>
                <div class="col-md-7">
                    <p>Sed malesuada nunc sit amet quam hendrerit, mollis vulputate risus tristique. Quisque dapibus eros et dolor accumsan, sit amet interdum tortor imperdiet.</p>
                </div>
            </div>
        </div>
        <div class="section-wrap">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="service-box style-1" style="background-image:url(../Shared/images/service/1.jpg);">
                        <div class="service-box-overlay"></div>
                        <i class="flaticon-stomach-1"></i>
                        <div class="service-box-content">
                            <h5><a href="~/Views/Shared/TestTypeSetupForm.aspx">TEST TYPE SETUP</a></h5>
                            <a href="~/Views/Shared/TestTypeSetupForm.aspx">Click Here</a>
                        </div>
                        <!-- service-box-content -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-box style-1" style="background-image:url(../Shared/images/service/2.jpg);">
                        <div class="service-box-overlay"></div>
                        <i class="flaticon-heart"></i>
                        <div class="service-box-content">
                            <h5><a href="~/Views/Shared/TestNameSetupForm.aspx">TEST NAME SETUP </a></h5>
                            <a href="~/Views/Shared/TestNameSetupForm.aspx">Click Here</a>
                        </div>
                        <!-- service-box-content -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-box style-1" style="background-image:url(../Shared/images/service/3.jpg);">
                        <div class="service-box-overlay"></div>
                        <i class="flaticon-lungs"></i>
                        <div class="service-box-content">
                            <h5><a href="~/Views/Shared/TestRequestEntryForm1.aspx">ENTRY</a></h5>
                            <a href="#">TestRequestEntryForm1.aspx</a>
                        </div>
                        <!-- service-box-content -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-box style-1" style="background-image:url(../Shared/images/service/4.jpg);">
                        <div class="service-box-overlay"></div>
                        <i class="flaticon-liver"></i>
                        <div class="service-box-content">
                            <h5><a href="~/Views/Shared/PaymentForm.aspx">PAYMENT </a></h5>
                            <a href="#">PaymentForm.aspx</a>
                        </div>
                        <!-- service-box-content -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-box style-1" style="background-image:url(../Shared/images/service/5.jpg);">
                        <div class="service-box-overlay"></div>
                        <i class="flaticon-uterus"></i>
                        <div class="service-box-content">
                            <h5><a href="~/Views/Shared/TestWiseReportForm.aspx">TEST WISE REPORT </a></h5>
                            <a href="#">TestWiseReportForm.aspx</a>
                        </div>
                        <!-- service-box-content -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-box style-1" style="background-image:url(../Shared/images/service/6.jpg);">
                        <div class="service-box-overlay"></div>
                        <i class="flaticon-teeth-10"></i>
                        <div class="service-box-content">
                            <h5><a href="~/Views/Shared/TypeWiseReportForm.aspx">TYPE WISE REPORT</a></h5>
                            <a href="#">TypeWiseReportForm.aspx</a>
                        </div>
                        <!-- service-box-content -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-box style-1" style="background-image:url(../Shared/images/service/7.jpg);">
                        <div class="service-box-overlay"></div>
                        <i class="flaticon-skeleton"></i>
                        <div class="service-box-content">
                            <h5><a href="~/Views/Shared/UnpaidBillReportForm.aspx">UNPAID BILL REPORT </a></h5>
                            <a href="#">UnpaidBillReportForm.aspx</a>
                        </div>
                        <!-- service-box-content -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

